<template>
  <div class="container">
    <div class="align-by-center">
      <h2>Load data from selected location</h2>
      <location-selector-map @onLoadData="$_loadData" />
    </div>
  </div>
</template>

<script>
import patterns from '../../configurations/Patterns.js'
import WebClient from '../../services/WebClient.js'
import LocationSelectorMap from './form/LocationSelectorMap.vue'

export default {
  name: 'DataLeaflet',
  components: {
    WebClient,
    LocationSelectorMap
  },
  data () {
    return {
    }
  },
  methods: {
    $_loadData (sendData) {
      // var file = require('../../assets/images/layers-2x.png')
      // console.log(sendData)
      // const params = { 'coordinate': [10, 0], 'files': file }
      const url = patterns.linkTo().loadData
      WebClient.post(url, sendData, data => {

      },
      (status, error) => {
        // console.log(' ERROR ' + JSON.stringify(error))
      })
    }
  }
}
</script>
