<template>
  <div>
    <div>
      <l-map ref="map" :zoom="zoom" :center="center" style="height: 550px" @click="onMapClick">
        <l-tile-layer :url="url" :attribution="attribution"/>
        <l-circle-marker
          :lat-lng="$_getlatLng()"
          :radius="circle.radius"
          :color="circle.color"
          :fill-color="circle.fillColor"
          :weight="circle.weight"
          :opacity="circle.opacity"
        />
        <l-geosearch :options="geoSearchOptions"/>
      </l-map>
    </div>
    <div class="lsm-form">
      <div class="mt-indent">
        <Input v-model.trim="text" :class="{errorUrlValid: !$_isVerifyText(text), urlValid: $_isVerifyText(text)}" class="main_hm_token" type="text" placeholder="text" style="width: 300px"/>
      </div>
      <div class="mt-indent">
        <Input v-model="$_latCoordinate" :class="{errorUrlValid: !$_getLatValid(), urlValid: $_getLatValid()}" class="" disabled type="text" placeholder="coordinates-x" style="width: 300px"/>
      </div>
      <div class="mt-indent">
        <Input v-model="$_lngCoordinate" :class="{errorUrlValid: !$_getLngValid(), urlValid: $_getLngValid()}" class="" disabled type="text" placeholder="coordinates-y" style="width: 300px"/>
      </div>
      <div v-if="captchaShow" class="mt-captcha-indent captcha-block">
        <vue-recaptcha :sitekey="sitekey" :load-recaptcha-script="true" theme="light"
                       @verify="verifyMethod"
                       @expired="expiredMethod"
                       @render="renderMethod"
                       @error="errorMethod" />
      </div>
      <div v-if="!captchaShow" class="mock-block" />
      <div class="mt-indent">
        <Button :class="{isNotvalid: $v.registrationData.$invalid, isValid: !$v.registrationData.$invalid}"
                class="block-left-position" type="primary" @click="$_sendToLoad()">Send</Button>
      </div>
    </div>
  </div>
</template>
<script>
import { required } from 'vuelidate/lib/validators'
import { LMap, LMarker, LTileLayer, LTooltip, LCircleMarker } from 'vue2-leaflet'
import { OpenStreetMapProvider } from 'leaflet-geosearch'
import LGeosearch from 'vue2-leaflet-geosearch'
import { icon } from 'leaflet'
import patterns from '../../../configurations/Patterns.js'
import { VueRecaptcha } from 'vue-recaptcha'

export default {
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LTooltip,
    LGeosearch,
    LCircleMarker,
    VueRecaptcha
  },
  data () {
    return {
      secretkey: '6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe',
      sitekey: '6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI',
      captchaShow: true,
      captchaKey: '',
      text: '',
      captcha: '',
      zoom: 12,
      center: this.$_getlatLng(),
      bounds: null,
      registrationData: {
        isVerify: false,
        $error: false,
        $invalid: false,
        $dirty: false
      },
      getLatCoordinate: '',
      getLngCoordinate: '',
      latCoordinate: 49.80442,
      lngCoordinate: 30.11198,
      value: {},
      loading: false,
      geoSearchOptions: {
        provider: new OpenStreetMapProvider(),
        showMarker: false,
        autoClose: true
      },
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      attribution:
        '&copy; <a target="_blank" href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      userLocation: { lat: this.$_latCoordinate, lng: this.$_lngCoordinate },
      icon: icon({
        iconRetinaUrl: 'static/images/marker-icon-2x.png',
        iconUrl: 'static/images/marker-icon.png',
        shadowUrl: 'static/images/marker-shadow.png'
      }),
      address: '',
       circle: {
        center: this.$_getlatLng(),
        radius: 12,
        color: '#F64273',
        fillColor: '#FAD505',
        weight: 12,
        opacity: 0.5
      },
      delayReloadCaptcha: 5000
    }
  },
  validations: {
    registrationData: {
      isVerify () {
        return (this.$_isVerifyText(this.text) && this.$_isVerifyCaptcha())
      },
      required
    }
  },
  computed: {
    $_captchaKey: {
      get () {
        return this.captchaKey
      },
      set (val) {
        this.captchaKey = val
      }
    },
    $_latCoordinate: {
      get () {
        return this.latCoordinate
      },
      set (val) {
        this.latCoordinate = Number(val).toFixed(5)
      }
    },
    $_lngCoordinate: {
      get () {
        return this.lngCoordinate
      },
      set (val) {
        this.lngCoordinate = Number(val).toFixed(5)
      }
    }
  },
  mounted () {
    this.$refs.map.mapObject.on('geosearch/showlocation', this.onSearch)
  },
  methods: {
    $_combainDataToSend () {
      return {
        text: this.text,
        lat: Number(this.$_latCoordinate),
        lng: Number(this.$_lngCoordinate),
        captchaKey: this.$_captchaKey
      }
    },
    $_resetVerifyData () {
      this.captchaShow = false
      this.$_captchaKey = ''
      this.text = ''
      setTimeout(() => {
        this.captchaShow = true
      }, this.delayReloadCaptcha)
    },
    verifyMethod (key) {
      this.$_captchaKey = key
    },
    expiredMethod (e) {
      // console.log(e)
    },
    renderMethod (e) {
      // console.log(e)
    },
    errorMethod (e) {
      // console.log(e)
    },
    $_getLocation () {
      this.$_latCoordinate = this.getLatCoordinate
      this.$_lngCoordinate = this.getLngCoordinate
      this.$_getlatLng()
    },
    $_isVerifyCaptcha () {
      return this.$_captchaKey.length === 420
    },
    $_isVerifyText (text) {
      return (text.length >= 4 && text.length <= 50) && (text !== '')
    },
    $_getLatValid () {
      const str = this.$_latCoordinate.toString()
      const regex = patterns.checkFloatNumber()
      const valid = str.match(regex)
      return valid !== null
    },
    $_getLngValid () {
      const str = this.$_lngCoordinate.toString()
      const regex = patterns.checkFloatNumber()
      const valid = str.match(regex)
      return valid !== null
    },
    zoomUpdated (zoom) {
      this.zoom = zoom
    },
    centerUpdated (center) {
      this.$_latCoordinate = center.lat
      this.$_lngCoordinate = center.lng
      this.center = center
    },
    boundsUpdated (bounds) {
      this.bounds = bounds
    },
    async getAddress () {
      this.loading = true
      let address = 'Unresolved address'
      try {
        const result = await fetch(
          `https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=${this.$_latCoordinate}&lon=${this.$_lngCoordinate}`
        )
        if (result.status === 200) {
          const body = await result.json()
          address = body.display_name
        }
      }
      catch (e) {
        console.error('Reverse Geocode Error->', e)
      }
      this.loading = false
      return address
    },
    async onMapClick (value) {
      const position = value.latlng
      this.$_latCoordinate = position.lat
      this.$_lngCoordinate = position.lng
      this.address = await this.getAddress()
      this.$emit('input', { position: position, address: this.address })
    },
    onSearch (value) {
      const loc = value.location
      this.$_latCoordinate = loc.x
      this.$_lngCoordinate = loc.y
    },
    $_getlatLng () {
      if (this.$_latCoordinate !== undefined && this.$_lngCoordinate !== undefined) {
        const x = this.$_latCoordinate
        const y = this.$_lngCoordinate
        return [x, y]
      }
      return [49.80442, 30.11198]
    },
    onError: function (e) {
      this.$Message.error('Unfortunately there isn\'t data for copy')
    },
    $_sendToLoad () {
      this.$emit('onLoadData', this.$_combainDataToSend())
      this.$_resetVerifyData()
    }
  }
}
</script>
<style>
  .errorUrlValid .ivu-input {
    margin-bottom: 15px;
    padding: 3px 12px;
    border: none;
    border: 1px solid #ff0000 !important;
    background-color: transparent;
  }
</style>
<style scoped>
  .urlValid {
    border: 1px solid #9dbdcc;
  }
  .captcha-block {
    padding-left: 23px;
  }
 .mt-indent {
    margin-top: 10px;
  }
  .mt-captcha-indent {
    margin-top: 35px;
  }
  .isNotvalid {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }
  .isValid {
    cursor: pointer;
    pointer-events: visible;
    opacity: 1;
  }
  .main_hm_token {
    width: 100%;
    margin-top: 25px;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 300;
    color: #c5c9da;
    border: none;
    border-bottom: 1px solid #cdced1;
    height: 36px;line-height: 40px;
  }
  .lsm-form {
    height: 345px;
    width: 350px;
    margin-top: 40px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
    background-color: #ffffff;
    border-radius: 3px;
  }
  .block-left-position {
    margin: 35px 25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
  }
  .mock-block {
    background: #fff;
    height: 112px;
  }
</style>
