


	* {
		box-sizing: border-box;
	}
	html, 
	body {
		margin: 0;
		padding: 0;
	}

	.container {
		width: 1050px;
		margin: 0 auto;
	}

	p { margin: 0; }

	input:focus {
		outline: none;
	}
	.align-by-center {
		width: 800px;
		margin-top:1%;
		text-align:center;
	}
